<!DOCTYPE html>
<html lang="ru">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>SignUp</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts -->
    <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles -->
    <link href="css/registration-page.css" rel="stylesheet">
    <!-- Custom js -->
    <script src="js/lib.js"></script>
    <script src="js/scriptAccount.js"></script>
  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="index.html">SignUp</a>
      </div>
    </nav>

    <!-- Masthead -->
    <header class="masthead text-white text-center">
      <div class="overlay"></div>
      <div class="container d-flex h-100 align-items-center justify-content-center">
        <div class="row">
          <div class="col-12 mx-auto">
            <h1 class="mb-3">Регистрация</h1>
          </div>
          <div class="col-12 col-md-8 mx-auto">
            <form>
              <div class="form-row">
                <div class="col-12 mb-2">
                  <input id="phonenumber" type="text" class="form-control form-control-lg" placeholder="Телефон">
                </div>
                <div class="col-12 mb-2">
                  <input id="login" type="text" class="form-control form-control-lg" placeholder="Логин">
                </div>
                <div class="col-12 mb-4">
                  <input id="password" type="text" class="form-control form-control-lg" placeholder="Пароль">
                </div>                
                <div class="col-12 mb-2">
                  <button id="registrate" type="button" class="form-control form-control-lg" onclick="Registrate();">Зарегистрироваться</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </header>

    <!-- Footer -->
    <footer class="footer bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
            <ul class="list-inline mb-2">
              <li class="list-inline-item">
                <a href="#">О нас</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Контакты</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Правила пользования</a>
              </li>
            </ul>
            <p class="text-muted small mb-4 mb-lg-0">&copy; SignUp 2019. All Rights Reserved.</p>
          </div>
          <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
            <ul class="list-inline mb-0">
              <li class="list-inline-item mr-3">
                <a href="#">
                  <i class="fab fa-facebook fa-2x fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item mr-3">
                <a href="#">
                  <i class="fab fa-twitter-square fa-2x fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-instagram fa-2x fa-fw"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
