body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 600;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

.w-95 {
  width: 95%;
}