<nav class="navbar navbar-dark bg-dark fixed-top">
	<div class="container">
		<a class="navbar-brand" href="/">SignUp</a>
		<div class="account">
			<%
				var userName = (typeof username != 'undefined' ? (username != '' ? username : 'Аккаунт') : 'Аккаунт'); 
				var links = (userName == 'Аккаунт' ? 
						[{txt:'Войти', link: '/login'}, {txt:'Зарегистрироваться', link: '/registration'}] 
					: 
						[{txt:'Записи', link: '#'},{txt:'Профиль', link: '#'},{txt:'Выйти', link: '#'}]
				);
			%>
			<span class="account-name">
				<%= userName %>
			</span>
			<div class="account-menu">
				<img src="public/img/user.png"/>
				<h3><%= userName %></h3>
				<% links.forEach((elem)=>{ %>					
					<a href='<%= elem.link %>'><%= elem.txt %></a>
				<%})%>
			</div>			
		</div>
	</div>
</nav>

<!--
<script type="text/javascript">
	var prevScroll = 0; 
	var currScroll;
	var isOpening = true;


	function scrollFunction() {
		let nav = document.getElementsByClassName("navbar")[0];
		currScroll = document.documentElement.scrollTop;
		if (prevScroll - currScroll < 0) {
			if (isOpening) {
				nav.classList.remove("open");				 
				nav.className += " " + "close";
				setTimeout(()=>{nav.style.display = "none";}, 180);
				isOpening = false;
			}
		} else {
			if (!isOpening) {
				nav.classList.remove("close");
				nav.className += " " + "open";
				nav.style.display = "block";
				isOpening = true;
			}
		}
		prevScroll = currScroll;
	}

	window.onscroll = () => scrollFunction();
</script>
-->